.document-wrapper {
    margin-top: 0;
    margin-bottom: 70px;
}

.document-content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 250px);
}

.document-view {
    margin: 0 24px;
    padding: 16px;
    flex: 0 1 710px;
    position: relative;
    border: 1px solid #ebebeb;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .1);
}

.document-sidebar {
    padding: 8px 0;
    flex: 0 1 230px;
    background-color: #fbfbfb;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .03);
    border: 1px solid #ebebeb;
}

.document-sidebar li {
    margin-bottom: 4px;
}

.document-form {
    flex: 1;
    width: 100%;
    min-width: 320px;
}

.document-view-scroll {
    overflow-y: scroll;
    height: 100%;
    padding: 0 20px;
}

.document-form-scroll {
    overflow-y: scroll;
    height: 100%;
    padding: 0 24px;
}

.document-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 24px 16px;
    margin-bottom: 24px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.document-header h3 {
    margin-bottom: 0;
    font-size: 20px;
}

.document-header-tools {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.document-header-tools li {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*background-color: #fff;*/
    margin: 0 8px;
}

.document-header-tools .active {
    /*background-color: #518feb;*/
}

.document-header-tools a {
    font-size: 22px;
    width: 24px;
    height: 24px;
    display: flex;
    color: #518feb;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.document-header-tools li:hover {
    opacity: 0.7;
}

.document-header-tools .active a {
    /*color: #fff;*/
}

.document-header-tools li:first-child {
    border-right: 1px solid #ebebeb;
    padding-right: 16px;
}

.document-progress {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    background-color: #7dcc7d;
    transition: width ease-in 400ms;
}

.document-progress-bg {
    z-index: 2;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #65d619;
}

.document-progress span {
    z-index: 3;
}

.document-sidebar ul, .document-form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.document-sidebar a {
    padding: 8px 16px;
    display: flex;
    color: #71787e;
    align-items: center;
    justify-content: space-between;
    border-right: 4px solid #ffcc00;
}

.document-sidebar a.active {
    /*background-color: #EDF0F5;*/
    color: #0054d1;
}

.document-sidebar a.is-complete {
    /*background-color: #EDF0F5;*/
    border-right: 4px solid #7dcc7d;
}

.document-tab {
    border: 1px solid #ebebeb;
    margin-bottom: 24px;
    border-right: 4px solid #ffcc00;
}

.document-tab + .is-complete {
    border-right: 4px solid #7dcc7d;
}

.document-tab:last-child {
    margin-bottom: 0;
}

.document-tab-header {
    background-color: #fbfbfb;
    padding: 16px 16px;
    border-bottom: 1px solid #ebebeb;
}

.document-tab-body {
    padding: 16px 16px;
}

.document-navigation .count {
    text-align: center;
    border-radius: 50%;
    margin-left: 4px;
}

.document-hidden {
    overflow: hidden;
    flex: 0;
    transform: translateX(-100%);
}

.document-view-hidden {
    flex: 0 1 0;
    transform: translateX(100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

.document-hidden > div {
    padding: 0 !important;
}

.document-view-wrapper {
    margin: 0 auto;
}

.document-view-wrapper p {
    margin: 1px 0;
}

.document-view-wrapper * {
    color: #000;
}

.document-view-wrapper .structures.active {
    background-color: #cdddf6;
}

.document-view-download {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    display: none;
}

.document-view-download ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.document-view-download ul li {
    margin: 8px 16px;
}

.document-view-background {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}

.document-view-active .document-view-download {
    display: block;
}

.document-view-active .document-view-background {
    display: block;
}

.document-info {
    margin: 48px 0;
}

.document-info-header {
    font-size: 20px;
    color: #000;
}

.document-view .disabled {
    display: none !important;
}

.document-view .active-block {
    display: inline !important;
}

.element-disabled {
    display: none;
}