/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .category-card .category-image-wrap{
        width: 32px;
        height: 32px;
    }

    .category-card .card-content{
        margin-left: 60px;
    }

    .category-card{
        padding: 16px;
    }

    .document-sidebar, .document-header-tools li:first-child, .document-header-tools li:last-child{
        display: none;
    }

    .document-content{
        flex-direction: column;
        height: auto;
    }

    .document-view{
        margin-top: 16px;
    }

    .navbar-right{
        justify-content: space-evenly;
    }

    .navbar-right .dropdown-toggle::after, .ddArrow::after{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
